[Unit]

Description=Xornet reporter

After=network.target

[Service]

Restart=always

Type=simple

User=root

ExecStart=/etc/xornet/xornet-reporter-linux-v0.0.21.bin

WorkingDirectory=/etc/xornet

[Install]

WantedBy=multi-user.target